div{
    justifyContent:"center";
    textAlign: "center";
   }
   h1{
     color: "#FF1493";
     textAlign: "center";
     fontStyle: "Italic";
   }
   p{
     color: "#FF69B4";
     fontSize: "20";
     textAlign: "center";
     fontStyle: "Italic";
   }
   .botao{
    color: "white";
    backgoundColor: "#FF1493";
    justifyContent:"center";
    textAlign: "center";
    borderRadius: "29px";
   }
   input{
      color: "FF69B4";
      justifyContent:"center";
      textAlign: "center";
      borderColor: "#FF1493";
      borderWhidht: 1;
   }
   
a {
  color: "white";
  backgoundColor: "##FF1493";
  justifyContent:"center";
  textAlign: "center";
  borderRadius: "29px"
 }
 
   
   
   